footer h2 {
  letter-spacing: 10px;
  font-weight: 100;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin: 10px 30px;
}

footer ul li a img {
  width: 40px;
}