main {
  padding: 20px;
}

main section {
  display: flex;
  flex-direction: row;
}

main section p {
  background: #ced4da;
  font-size: 110%;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 300px;
  height: 20px;
  text-align: right;
  padding: 15px 10px;
  margin: 30px;
  border: 5px solid #e9ecef;
  border-radius: 10px;
  box-shadow: 0 0 10px #bdc0c4;
}

main section ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

main section ul li {
  list-style: none;
}

main section .btn-comprido li {
  display: flex;
  flex-direction: column;
}

main section ul li button {
  font-size: 120%;
  width: 70px;
  padding: 15px;
  margin: 13px;
}

main section .btn-comprido li button {
  line-height: 535%;
}

main button {
  border-radius: 10px;
  box-shadow: 0 0 0 #e9ecef;
  transition: all 0.5s;
}

main button:hover {
  text-shadow: 2px 2px 3px #bcbcbc;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bcbcbc,
    -5px -5px 10px #ffffff;
}